{% extends 'base.html' %}
{% block title %}Menu{% endblock %}

{% block body_user_signed_in %}

	<main>
		<section> 
			<div class="container">
				<div class="menu_container" style="">
					<div class="welcome"><p class="welcome_text"> “It Doesn't Matter How Much You Earn, It Is How Much You Keep"</p></div>
						<p class="welcome_message">I hope to help you control your finances by simply recording your incomes and expenses. </br> Please select from the above options to start.</br> Good Luck !</p>		
					</div>	
				</div>
		</section>
	</main>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
	
{% endblock %}
