{% extends 'base.html' %}
{% block title %}Balance{% endblock %}
{% block footer %}

	<script>
		window.onload = function(){
		
			var chart1 = new CanvasJS.Chart("incomes_pie_chart", 
				{
					backgroundColor: "transparent",
					animationEnabled: true, 
					theme: "light1",
					title: 
					{
						text: "incomes summary",
						fontSize: 18,
						fontWeight: "bold",
						fontColor: "black",
						fontFamily: "roboto",
					},
					data: [
					{
						type: "pie",
						startAngle: 270,
						yValueFormatString: "0.00\"\"",
						indexLabel: "{label} {y}",
						dataPoints: 
						[
							{% for item in default_income_balance_data %}
								{y:{{ item.sum_of_incomes }}, label:'{{ item.name }}'},		
							{% endfor %}
						]
					}]
				});	
		{% if default_income_balance_data is not empty %}
			chart1.render();
		{% endif %}
		
		var chart2 = new CanvasJS.Chart("expenses_pie_chart", 
					{
						backgroundColor: "transparent",
						animationEnabled: true,
						theme: "light1",					
						title: 
						{
							text: "expenses summary",
							fontSize: 18,
							fontWeight: "bold",
							fontColor: "black",
							fontFamily: "roboto",
						},
						data: [
						{
							type: "pie",
							startAngle: 117,
							yValueFormatString: "0.00\"\"",
							indexLabel: "{label} {y}",
							dataPoints: 
							[
								{% for item in default_expense_balance_data %}
									{y:{{ item.sum_of_expenses }}, label:'{{ item.name }}'},		
								{% endfor %}
							]
						}]
					});
			
			chart2.render();
		}
	</script>

	<script>
	// Data Picker Initialization
	$('.datepicker').pickadate();
	</script>

{% endblock %}

{% block body_user_signed_in %}

	<main>
		<section>
			<div class="container">
				<div class="raw">
					<form>
						<div class="balance_container">
							<h4 style="margin-bottom: 30px; border-bottom-color: #17a2b8; padding: 5px 0;">Balance summary</h4>
							
							<!-- Button trigger modal_1 -->
							<button type="button" class="btn btn-info mb-2" data-toggle="modal" data-target="#dates_selection">
							Select date range for summary
							</button>
								{% set total_income = 0 %}{% set total_expense = 0 %}
								{% for item in default_income_balance_data %}  
									{% set total_income = total_income + item.sum_of_incomes %}
								{% endfor %}		
								{% for item in default_expense_balance_data %}								
									{% set total_expense = total_expense + item.sum_of_expenses %}
								{% endfor %}
								{% set balance = total_income - total_expense %}
								{% if balance > 0 %}
									<div class='balance_positive'>You have generated {{ balance }} euro of savings in the current month.</br> Well done !</div>
								{% endif %}
								{% if balance < 0 %}
									<div class='balance_negative'>Your balance in the current month is {{ balance }} euro.</br> Try to watch your finances closely.</div>
								{% endif %}
							<div class="incomes_balance">
								<h3>Incomes</h3>
									<div id="incomes_column1">
										<div class="first_line bg-info"> Category </div>
											{% for item in default_income_balance_data %}
												<div class="line">{{ item.name }}</div>
											{% endfor %}							
										<div class="last_line bg-info"> Total </div>
									</div>
									<div id="incomes_column2">
										<div class="first_line bg-info"> Amount </div>
											{% for item in default_income_balance_data %}
												<div class="line">{{ item.sum_of_incomes }}</div>
											{% endfor %}
										<div class="last_line bg-info">{{ total_income }}</div>
									</div>		
							</div>
							<div class="incomes_balance_summary">
								{% if total_income > 0 %}
									<div><script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script></div>
									<div id="incomes_pie_chart"></div>
								{% else %}
									<div class="no_result"> You have no incomes in the current month </div>
								{% endif %}
							</div>
							<div class="expenses_balance">
								<h3>Expenses</h3>
									<div id="expenses_column1">
										<div class="first_line bg-info"> Category </div>
											{% for item in default_expense_balance_data %}
												<div class="line">{{ item.name }}</div>
											{% endfor %}
										<div class="last_line bg-info"> Total </div>
									</div>
									<div id="expenses_column2">
										<div class="first_line bg-info"> Amount </div>
											{% for item in default_expense_balance_data %}
												<div class="line">{{ item.sum_of_expenses }}</div>
											{% endfor %}
										<div class="last_line bg-info">{{ total_expense }}</div>
									</div>		
							</div>
							<div class="expenses_balance_summary">
								{% if total_expense > 0 %}
									<div><script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script></div>
									<div id="expenses_pie_chart"></div>
								{% else %}
									<div class="no_result"> You have no expenses in the current month </div>
								{% endif %}
							</div>
							
						</div>	
					</form>
				</div>
			</div>
		</section>
		
		<!-- Modal_1 -->
		<div class="modal fade" id="dates_selection" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<form method="post" action="/balance/display" id="balance_modal_form">
						<div class="date_selector"><button type="submit" name="this_month" class="btn btn-info">This month</button></div>
						<div class="date_selector"><button type="submit" name="last_month" class="btn btn-info">Last month</button></div>
						<div class="date_selector"><button type="submit" name="this year" class="btn btn-info">This year</button></div>
						<div class="date_selector"><button type="submit" name="last_year" class="btn btn-info">Last year</button></div>
						
						<!-- Button trigger modal_2 -->
						<div class="date_selector"><button type="button" class="btn btn-info mb-2" data-toggle="modal" data-target="#custom_selection">Custom dates</button></div>
					</form>
				</div>
			</div>
		</div>
		
		<!-- Modal_2-->
		
		<div class="modal fade" id="custom_selection" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<form method="post" action="/balance/display" id="balance_modal_form">
						<div class="modal-header">
							<h5 class="modal-title" id="date_from">Date from</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
						</div>
							<div class="modal-body">
								<input type="date" name="start_date" id="date_from_picker" class="form-control datepicker" required>
							</div>
						<div class="modal-header">
							<h5 class="modal-title" id="date_to">Date to</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"> </button>
						</div>
							<div class="modal-body">
								<input type="date" name="end_date" id="date_to_picker" class="form-control datepicker" required>
							</div>
						<div class="modal-footer">
							<button type="submit" name="dates_entry" class="btn btn-info">Save</button>
							<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
{% endblock %}